*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
models/fruit-veg-freshness-classification/fruitveg
models/fruitveg-2/.ipynb_checkpoints/fruitveg-2-checkpoint.ipynb
models/fruit-veg-freshness-classification/.ipynb_checkpoints/FruitVeg Freshness Classification-checkpoint.ipynb
deployment/.ipynb_checkpoints/Deploy Test-checkpoint.ipynb
models/fruit-veg-freshness-classification/fruit_veg_freshness.h5
