<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstoneproject.aplikasiantifoodwaste">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiAntiFoodWaste">
        <activity
            android:name=".order.DetailOrderActivity"
            android:exported="false" />
        <activity
            android:name=".tips.UploadArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".tips.artikel.ArtikelApelSangatSegarDetailActivity"
            android:exported="false" />
        <activity
            android:name=".scan.SaveFoodScanActivity"
            android:exported="false" />
        <activity
            android:name=".searchfood.TakeFoodConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".searchfood.TakeFoodActivity"
            android:exported="false" />
        <activity
            android:name=".searchfood.SearchFoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".tips.artikel.ArtikelApelSangatSegarActivity"
            android:exported="false" />
        <activity
            android:name=".tips.kualitas.ApelActivity"
            android:exported="false" />
        <activity
            android:name=".share.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".tips.TipsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".storage.DetailStorageActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".scan.FoodScanActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".scan.ConfirmationScanFoodActivity"
            android:exported="false" />
        <activity
            android:name=".searchfood.SearchFoodListActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>